/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
    --font-variation-settings: 400;
    --font-weight: 700;
    --background-color: #fff;
    --label-color: #fff;
    --accent-color: #000;
    --background-gradient-color-1: #d3d3d3;
    --background-gradient-color-2: #e7e7e7;
    --background-gradient-color-3: #1a1a1a;
    --color-heart: #f00;
  }
  
  :root.theme-dark {
    --font-variation-settings: 465;
    --font-weight: 785;
    --background-color: #000;
    --label-color: #00cc14;
    --accent-color: #00cc14;
    --background-gradient-color-1: #000;
    --background-gradient-color-2: #007f0c;
    --background-gradient-color-3: #004306;
    --color-heart: #f00;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --font-variation-settings: 465;
      --font-weight: 785;
      --background-color: #000;
      --label-color: #00cc14;
      --accent-color: #00cc14;
      --background-gradient-color-1: #000;
      --background-gradient-color-2: #007f0c;
      --background-gradient-color-3: #004306;
      --color-heart: #f00;
    }
  }