/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter';
    --accent-font: 'PressStart2P';
    --main-weight: 400;
    --font-weight: 700;
    --background-color: #fff;
    --label-color: #fff;
    --accent-color: #000;
    --background-gradient-color-1: #d3d3d3;
    --background-gradient-color-2: #e7e7e7;
    --background-gradient-color-3: #1a1a1a;
    --color-heart: #f00;
}